#root, body, html{
    height:100%;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Azeret+Mono:wght@900&family=Jockey+One&family=Merriweather+Sans:wght@500&family=Poppins:wght@300&family=Ruslan+Display&display=swap');

body{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);


}